### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Local Properties / Configurations ###
src/main/resources/application-dev.yml
.env
src/main/java/org/ahmedukamel/mulham/constant/JwtConstants.java

### Build Directory ###
target/